{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "^react$",
    "^(components|constants|utils|styles)(.*)$",
    "^(features)(.*)$",
    "__mocks__",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
